h1 {
  font-style: italic;
  text-align: center;
  color: darkgreen;
}

flashy {
  font-size: 15px;
  color: red;
  font-style: italic;
}

h2 {
  font-size: 30px;
  font-style: italic;
  color: sienna;
}

h3 {
  font-size: 12px;
  color: darkgoldenrod;
  font-style: italic;
  font-weight: bold;
}

body {
  background-color: skyblue;
}

h4 {
  font-size: 18px;
  font-family: sans-serif;
}

best {
  font-size: 40px;
  color: crimson;
  font-weight: bold;
  font-style: italic;
}